@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  position: relative;
  flex-direction: column;
}

.message-box {
  position: absolute;
  bottom: 25px;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-self: center;
  /* justify-self: center; */
  min-width: 775px;
  border-radius: 10px;
  border: 2px solid white;
  color: white;
  background-color: #efc182;
  padding: 20px;
}

.multiple-choice {
  display: flex;
  justify-content: space-around;
  color: white;
}
.option-1 {
  /* line-height: 0.1px; */
  border: 0.5px solid rgb(234, 232, 232);
  padding: 5px;
}
.option-2 {
  /* line-height: 0.1px; */
  border: 0.5px solid rgb(255, 255, 255);
  padding: 5px;
}
.hide {
  display: none;
}

.option-1:hover {
  cursor: pointer;
  opacity: 0.5;
}

.option-2:hover {
  cursor: pointer;
  opacity: 0.5;
}

.close-message-box {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}

h1 {
  justify-self: center;
}

@media only screen and (max-width: 767px) {
  .message-box {
    min-width: 80%;
    padding: 10px;
    font-size: 12px;
    margin: 10px;
    bottom: 5px
  }
  .option-1 {
    padding: none;
    margin-right: 10px;
  }
  .option-2 {
    padding: none;
    margin-right: 10px;
  }
}


