@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  position: relative;
}

.message-box {
  /* background-image: url('../public/assets/game/dialog\ box\ big.png'); */
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  top: 800px;
  left: 500px;
  width: 600px;
  /* height: 150px; */
  border-radius: 10px;
  border: 2px solid white;
  color: white;
  background-color: #efc182;
  z-index: 10000;
  padding: 5px;
  /* line-height: 3px; */
}

.multiple-choice {
  display: flex;
  justify-content: space-evenly;
  color: white;
  padding: 5px
}
.option-1 {
  /* line-height: 0.1px; */
  border: 1px solid rgb(255, 255, 255);
  padding: 5px;

}
.option-2 {
  /* line-height: 0.1px; */
  border: 1px solid rgb(255, 255, 255);
  padding: 5px;
}
.hide {
  display: none;
}

.option-1:hover {
  cursor: pointer;
  opacity: 0.5;
}

.option-2:hover {
  cursor: pointer;
  opacity: 0.5;
}

.close-message-box {
  position: absolute;
  top: 10px;
  right: 20px;
}

.container {
  position: relative;
}

.game {

  /* border-width: 50px;
    border-style: solid;
  border-image: url('./pixel/border.png');
  border-image-repeat: repeat;
  width: 100%; */
  display: flex;
}

.menu-items {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.menu-button {
  margin: 5px;
  background-color: bisque;
  width: 10%;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.menu-button:hover {
  border: 5px;
  border-style: double;
  border-color: aqua;
}

h1 {
  justify-self: center;
}


.story-box{
  display: flex;
  flex-wrap: wrap;
}

.individual-word{
  margin : 5px;

}
.individual-word:hover{
  background-color: #efc182;
}


