@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.nav {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;

  padding: 50px;
}

.test {
  font-size: 55px;
  color: brown;
}

.in-nav {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.heart {
  scale: 1.5;
  margin-right: 10px;
}

.heart,
.star {
  max-width: 50px;
  min-width: 50px;
  max-height: 50px;
  min-height: 50px;
  border-radius: 5px;
  object-fit: cover;
}

.map-container {
  cursor: pointer;
  width: 330px;
  height: 330px;
  position: absolute;
  top: 40px;
  right: 40px;
}

.map {
  cursor: pointer;
  width: 330px;
  height: 330px;
  position: absolute;
  top: 0;
  left: 0;
}



.top {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.icon {
  cursor: pointer;
  width: 100px;
  height: 130px;
  position: absolute;
  top: 0px;
  right: 40px;
  padding: 30px;
}


.x {
  width: 70px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.menu {
  cursor: pointer;
    width: 200px;
    position: absolute;
    bottom: 20px;
    right: -10px;
    padding:20px
}

.menu-open {
  display: flex;
  flex-direction: column;
  width: 200px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding:20px
}

.stars-number {
  font-family: 'Press Start 2P';
  color: white;
  font-size: 30px;
}

.stars-container {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .icon {
    width: 80px;
    height: 110px;
    top: 0px;
    right: 5px;
  }
  .nav {
    padding:0px;
    margin: 30px
  }
  .map {
    width: 120px;
  height: 120px;
  }
  .map-container {
    width: 120px;
  height: 120px;
  }
  .x {
    left: 60px;
    top: 0px;
    right:none;
  }
  .in-nav {
    margin-bottom: 5px;
    margin-right:5px;
  }
  .heart {
    scale: 1;
    margin-right: 0px;
  }
  .menu {
    left:190px
  }
}
