.nav {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-color: black; */
  padding: 70px;
}

.test {
  font-size: 55px;
  color: brown;
}

.in-nav {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;

}
.heart {
  scale: 1.5;
  margin-right: 10px;
}


.heart, .star {
  max-width: 50px;
  min-width: 50px;
  max-height: 50px;
  min-height: 50px;
  border-radius: 5px;
  object-fit: cover;
}

.map-container {
  width: 330px;
  height: 330px;
  position: absolute;
  top: 50px;
  right: 350px;

}

.map {
  max-width: 250px;
  min-width: 250px;
  position: absolute;
  top: 90px;
  right: 390px;
  border-radius: 10px;


}
 .top {
  display: flex;
  flex-direction: row;
  width: 100wh;
 }

