@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.babble-island {
  background-image: url('/public/assets/images/babble_island_big.png');
  height: 100vh;

}

.welcome {
  color: white;
  text-align: center;
  padding-top: 600px;
  padding-bottom: 100px;
}

.button-text {
  text-align: center;
  color: white;
  /* font-style: italic; */

}

.menu-items{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  }

.menu-button{
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-button:hover {
  scale: 1.1;
  opacity: 0.9;
}

img {
  height: 60px;
}

@media only screen and (max-width: 767px) {
  .menu-button {
    scale: 0.7;
    width: 200px;
  }

  .welcome {
    padding-top: 400px;
    padding-bottom: 70px;
  }

  /* .menu-items{
    padding: 10px;
  } */

}