@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.babble-island {
  background-image: url('/public/assets/images/babble_island_big.png');
  height: 100vh;
}

.welcome {
  color: white;
  text-align: center;
  padding-top: 600px;
  padding-bottom: 200px;
}

.button-text {
  text-align: center;
  color: white;
  font-style: italic;

}

.menu-items{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  }

.menu-button{
  background-image: url('/public/assets/images/empty_button.png');
  background-repeat: no-repeat;
  width: 200px;

}