.display {
  position: absolute;
  display: flex;
  min-height: 150vh;
  background-color: bisque;
  float: right;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-left: 950px;
  min-width: 1500px;
  justify-content: center;
}

  .header {
    font-size: 35px;
    align-self: flex-start;
    margin: 125px;
  }

