@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  color: white;
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.babble-island {
  background-image: url('/public/assets/images/babble_island_big.png');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position-y: -200px; */
  height: 100vh;
}

.title {
  padding-top: 450px;
  font-size: 50px;
}

.form-submit {
  height: 20px;
  margin: 20px;
  border-radius: 5px;
  border: 0.5px;
}

input {
  border: none;
  width: 200px;
}

@media only screen and (max-width: 1280px) {
  .title {
    padding-top: 200px;
    font-size: 40px;
  }

  .form-submit {
    margin-top: 0px;
  }

  p {
    font-size: 14px;
  }

}
