.reader {
  height: 100vh;
  padding: 100px;
  color: black;
  position: relative;
  overflow: hidden;
  /* font-size: 16px; */
}

.antiquewhite {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: antiquewhite;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.sky {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: -1;
}

.stories-container {
  display: flex;
  justify-content: space-around;
  height: 30%;
  padding-left: 200px;
  padding-right: 200px;
}

.exit {
  cursor: pointer;
  position: absolute;
  right: 150px;
  scale: 0.7;
}

/* book */
.book {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.book:hover {
  cursor: pointer;
  opacity: 0.5;
}

.cover {
  max-width: 400px;
  min-width: 150px;
  max-height: 400px;
  min-height: 150px;
}

.book-title {
  color: black;
  position: absolute;
  bottom: -40px;
  text-align: center;
  width: 90%;
}

/* story */
.current {
  width: 100%;
  height: 450px;
  /* padding-left: 200px;
  padding-right: 200px; */
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
}

.story-box {
  width: 60%;
  /* font-size: 20px; */
  /* word-spacing: 100px; */
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  max-height: 500px;
  height: fit-content;
}
.story-box::-webkit-scrollbar {
  display: none;
}

.cover-book {
  max-width: 800px;
  min-width: 400px;
  max-height: 800px;
  min-height: 400px;
  border-radius: 20px;
  /* margin-left: 100px; */
  width: 30%;
  object-fit: cover;
}

@media only screen and (max-width: 767px) {
  .reader {
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
  }
  .cover {
    max-width: 100px;
    min-width: 50px;
    max-height: 100px;
    min-height: 50px;
  }

  .exit {
    right: 15px;
    top: 15px;
    scale: 0.5;
  }

  .stories-container {
    /* overflow: scroll; */
    height: 20%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .book-title {
    font-size: 9px;
  }

  .story-box {
    width: 100%;
    font-size: 10px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
  }

  .cover-book {
    display: none;
  }

  .current {
    height: 40%;
    overflow: scroll;
  }


  .antiquewhite {
    overflow: hidden;
  }
  .sky{
    overflow: hidden;
  }

  audio {
    position: absolute;
    bottom: 220px;
    right: 50px;
  }

}


.individual-word {
  display: flex;
  justify-content: center;
  margin: 5px;

}
.translation-box {
  color: #dea300;
}
.individual-word:hover {
  cursor: pointer;
  background-color: #efc182;
  border-radius: 10px;
}


.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}

audio {
  margin-top:10px;
}